---

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SamCub | Portfolio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/cf1fb60fea.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <script>
alert("Hola, Bienvenido a mi portafolio, aún estoy trabajando en él, pero si deseas contactarme puedes hacerlo a través de mis redes sociales o mi correo electrónico. ¡Gracias por visitar mi sitio web! 🚀");</script>
    <div class="wrapper">
      <div class="cero" id="home"></div>
        <div class="one">
          <header>
            <p class="miFrase"><i><u> "Aquí hay Wifi, Fé, Código y Café" </u></i>☕</p>
            <nav class="nav-links">
              <a href="#home" id="home-link">Home</a>
              <a href="#five" id="about-link">Sobre mi</a>
              <a href="#eight" id="resume-link">Resumen</a>
              <a href="#fiveteen" id="projects-link">Proyectos</a>
            </nav>
          </header>
                
        </div>
        <div class="two">
        </div>
        <div class="three">
          <h1>SAMUEL <br> <span class="lastName">CUBANO</span></h1>
          <p class="dev">Desarrollador Frontend</p>
          <div class="buttons">
            <a href="#eight" >Resumen</a>
            <a href="#fiveteen" >Proyectos</a>
          </div>
        </div>
        <div class="four">
          <div>
            <button class="icon"><a target="_blank" href="https://github.com/SamuelCubano"></a></button>
            <button class="icon"><a target="_blank" href="https://www.linkedin.com/in/samuel-cubano-0b520b288/"></a></button>
            <button class="icon"><a target="_blank" href="https://www.instagram.com/samuelcubano/"></a></button>
            <button class="icon"><a target="_blank" href="https://wa.me/qr/KXVQSZDHPAEPI1"></a></button>
          </div>
        </div>
        <div id="five" class="five"></div>
        <div class="six">
          <h2>SOBRE MI</h2>
          <p class="myMail">samule10cubano@gmail.com</p>
          <p class="about">  Soy <strong>Samuel</strong>, vivo en Caracas - Venezuela, un apasionado de la programación desde temprana edad. Mi amor por el código y la tecnoñogía ha sido una constante en mi vida, conduciéndome a través de una multitud de practicas y desafíos que han perfeccionado mis habilidades y avivado mi creatividad. Cada línea de código que escribo es una oportunidad para innovar y resolver problemas complejos, transformando ideas abstractas en realidades funcionales.</p>
        </div>
        <div class="seven"></div>
        <div id="eight" class="eight">
          <div><p>NO SE QUE COLOCAR AQUÍ... ASI QUE PENSATE BIEN QUE COLOCAR</p></div>
        </div>
        <div class="nine"></div>
        <div class="ten">
          <h2>LENGUAJES, FRAMEWORKS Y HERRAMIENTAS DE SOFTWARE</h2> <br>
        </div>
        <div class="eleven">
          <h2>EDUCACIÓN</h2> <br>
          <p class="more">INSTITUTO UNIVERSITARIO JESÚS OBRERO <br>
            (2024 - ACTUALIDAD) <br> Informática </p>
        </div>
        <div class="twelve">
          <h2>EXPERIENCIA</h2>
          <br>
          <p class="more">COMING SOOON</p>
        </div>
        <div class="thirteen">
          <h2>HABILIDADES PERSONALES</h2><p class="more">
             <br>
            Aprendizaje continuo <br>
            Autodidacta <br>
            Comunicación <br>
            Creatividad <br>
            Atención al detalle </p><br>

          <h2>HOBBIES</h2><br>
            <p class="more">Dibujar <br>
            Escuchar Música <br>
            Futbol</p>
        </div>
        <div class="fourteen">
          <h2 class="contact">✨Contáctame 🚀</h2>
        </div>
        <div id="fiveteen" class="fiveteen"></div>
        <div id="sixteen" class="sixteen"><h2>PROYECTOS</h2></div>
        <div id="seventeen" class="seventeen">seventeen</div>
        <div id="eighteen" class="eighteen">eighteen</div>
        <div id="nineteen" class="nineteen">nineteen</div>
    </div>
	<footer>
	  <p class="footer-text">© 2024 Samuel Cubano. Todos los derechos reservados.</p>
	  <p class="footer-text">Diseñado y desarrollado por Samuel Cubano.</p>
	</footer>
</body>
</html>